include ../layout

block content
	.col-12
		.title Standings

		.info Top 4 teams will make it to the playoffs!

		table
				thead
					tr
						td Family Name
						td Wins
						td Losses
						td Ties
				tbody
				each standing in standings
					tr
						td= standing.family
						td= standing.wins
						td= standing.losses
						td= standing.ties



