div#activity-list
	include ./_activity

div#add-activity
	button(type="button") Add Another Activity

div
	label Point Calculator:
	div #[span#totalPointsDisplay 0] Points
	input#totalPoints(type="hidden" name="totalPoints" value="0")

input(type='submit' value='Add Points')