extends ../layout

append scripts
  script(src="/libs/typeahead.bundle.min.js")

block content
  h1 Add Points
  form#add-points(action="/points" method="POST")
    input(type='hidden', name="participation", value=participationId)

    label Activity Name
    input(id="typeahead" type="text")

  script.
    function getActivities() {
      $.ajax({
        url: "/activities"
      })
      .done(function(res) {
        var activitiesFn = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: res
        });

        $('#typeahead').typeahead({
          minLength: 1,
          highlight: true
        },
        {
          name: 'my-dataset',
          source: activitiesFn
        });
      });
    }

    $(document).ready(function() {
      getActivities();
      $('#typeahead').bind('typeahead:select', function(ev, suggestion) {

        var request = $.ajax({
          url: '/activities/' + suggestion
        });

        request.done(res => {
          $('#add-points').append(res);
        });

        request.fail(res => {
          console.log("FAIL", res)
        });
      });
    })