h1 Add Points
form#add-points(action="/points" method="POST")
	input(type="hidden", name="participation", value=participationId)
	input(type="hidden", name="date", value=date)
	div
		label#activity-name Activity Name
		input(id="typeahead" type="text")