extends ../layout

block content
  h1 Add Points

  form(action="/points", method="POST")
    | How many
    input(name='points' type='Number' required)
    | Unit
    select(name="unitId")
      each unit in units 
        option(value=unit._id)= unit.name 
    | Activity
    select(name="activityId")
      each activity in activities
        option(value=activity._id)= activity.name

    input(type='submit' value='Add Points')
