extends ../layout

block content
	h2 All Activities

	table
			thead
				tr
					td Name
					td Points
					td Description
			tbody
			each activity in activities
				tr
					td= activity.name
					td= activity.points + " points " + " for every " + activity.scale + " " + activity.unit.name
					if activity.description != undefined
					td= activity.description
