extends layout

block content
  h2 Uh oh, the page you are trying to access doesn't actually exist.

  sub BUT, it's entirely possible that <i>we've</i> actually messed up. If you feel that's the case, would you be kind enough to send this error to the current maintainer of the project, or better yet, open an issue on the project's <a href="https://github.com/govindrai/LPN-Fitness-App">github repository</a> so it can be tracked, managed and fixed. We apologize in advance! :)
