doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head-scripts
      script(src="/libs/jquery.min.js")
      script(src="/javascripts/main.js")

  body
    nav
      div LPN Fitness Challenge
      div
        if !loggedIn
          li
            a(href="/") Home
          li
            a(href="/login") Login
        else
          li
            a(href=home) Home
          li
            a(href="/families") Families
          li
            a(href="/challenges")= `Challenges (${challengeCount})`
          li
            a(href="/settings") Settings
          li
            a(href="/activities") Activities
          li
            a(href="/rules") Rules
          li
            a(href="/logout") Logout

    block content

    block footer-scripts