doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src="/libs/jquery.min.js")
      script(src="/javascripts/main.js")

  body
    nav
      div LPN Fitness Challenge
      div
        li
          a(href="/") Home
        if !loggedIn
          li
            a(href="/login") Login
        else
          li
            a(href="/families") Families
          li
            a(href="/challenges")= 'Challenges (' + challengeCount + ')'
          li
            a(href="/points/new") Add Points
          li
            a(href="/settings") Settings
          li
            a(href="/logout") Logout

    block content
