doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head-scripts
      script(src="/libs/jquery.min.js")
      script(src="/javascripts/main.js")

  body
    nav.col-12.mobile
      .subtitle.logo LPN Fitness
      #hamburger &#9776;
    //- nav
    //-   div#logo.col-3 LPN Fitness Challenge
    //-   div#navLinks.col-9
    //-     if !loggedIn
    //-       a(href="/") Home
    //-       a(href="/login") Login
    //-     else
    //-       a(href=home) Home
    //-       - var families = ["Alexandrite", "Emerald", "Iolite", "Ruby", "Sapphire", "Sunstone", "Topaz"]
    //-       div#subMenu
    //-         a(href="#") Families &darr;
    //-         nav#dropDown
    //-           each family in families
    //-             a(href="/families/" + family)= family
    //-       a(href="/challenges")= `Challenges (${challengeCount})`
    //-       a(href="/activities") Activities
    //-       a(href="/schedule") Schedule
    //-       a(href="/standings") Standings
    //-       a(href="/rules") Rules
    //-       a(href="/account") Account
    //-       a(href="/logout") Logout

    block content

    block footer-scripts
      script.
        $(document).ready(() => {
          $("#subMenu").on(
          "mouseover", "click",
          () => {
            $("#dropDown").slideToggle();
          },
          () => {
            $("#dropDown").slideToggle();
          });
        })