@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
* {
  box-sizing: border-box;
  outline: none; }

.error, .success {
  background: #d92b3a;
  color: white;
  font-style: italic;
  font-weight: 600;
  padding: 15px;
  margin: 10px auto; }

.success {
  background: #0b8c0b; }

[class*="col-"] {
  float: left;
  padding: 0 15px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: blue; }
  a:visited {
    color: blue; }
  a:hover {
    text-decoration: underline; }

body {
  margin: auto;
  font: 14px "Open Sans", sans-serif;
  max-width: 400px;
  position: relative;
  padding-bottom: 20px;
  border: 1px solid #dadde0; }

input, select, textarea {
  display: block; }
  input:focus, select:focus, textarea:focus {
    border: none;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3); }

nav .top {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

nav .nav-links {
  display: none;
  opacity: 0;
  top: -400px;
  position: absolute;
  padding: 24px 49px;
  background: white;
  z-index: 5;
  margin: 15px;
  width: 340px;
  border-radius: 5px;
  border: 1px solid #6B6D70; }
  nav .nav-links.move-nav-down {
    animation-name: move-nav-down;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  nav .nav-links.move-nav-up {
    animation-name: move-nav-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  nav .nav-links a {
    display: block;
    font-size: 24px;
    color: #6B6D70;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 600; }
    nav .nav-links a:only-child {
      margin-bottom: 0; }
  nav .nav-links .drop-down-links {
    display: none; }
    nav .nav-links .drop-down-links a {
      color: #a0a3a8;
      margin-left: 49px; }

.hamburger {
  font-size: 36px;
  color: #6B6D70;
  text-align: right;
  cursor: pointer; }

.title {
  font-size: 36px;
  color: #6B6D70;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 0; }

.subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #a0a3a8;
  margin-bottom: 16px; }
  .subtitle.logo {
    margin-bottom: 0; }

.message {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #353738; }

#backgroundGradient {
  padding: 32px 15px; }
  #backgroundGradient #scoreboard {
    padding: 15px 0;
    background: white;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3); }
  #backgroundGradient hr {
    border-color: #dadde0;
    padding: 0;
    margin: 0; }

#calendarHead {
  padding-bottom: 20px;
  border-bottom: 1px solid #dadde0; }
  #calendarHead #calendar {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #a0a3a8; }
    #calendarHead #calendar #weekdays {
      display: flex;
      justify-content: space-between; }
      #calendarHead #calendar #weekdays a {
        text-decoration: none; }
      #calendarHead #calendar #weekdays .updatePoints {
        color: #a0a3a8; }
      #calendarHead #calendar #weekdays .weekday {
        width: 40px;
        position: relative; }
        #calendarHead #calendar #weekdays .weekday.current-date::after {
          position: absolute;
          content: url("/images/arrow.png");
          bottom: -30px;
          left: 50%;
          font-size: 30px;
          transform: translate(-50%, 0); }
        #calendarHead #calendar #weekdays .weekday .day {
          font-size: 13px;
          font-weight: 600;
          line-height: 1.54; }
        #calendarHead #calendar #weekdays .weekday .date {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.5;
          position: relative; }

.updatePoints {
  cursor: pointer; }

#dailyPoints .participant {
  border-bottom: 1px solid #dadde0;
  margin: 16px 0;
  cursor: pointer; }
  #dailyPoints .participant:not(:first-child) .points-entries-summaries {
    display: none; }
  #dailyPoints .participant:last-child {
    border: none;
    margin: 0;
    padding-bottom: 0; }
  #dailyPoints .participant .first-row {
    display: flex;
    justify-content: space-between; }
    #dailyPoints .participant .first-row .left-column {
      text-align: left; }
    #dailyPoints .participant .first-row .right-column {
      text-align: right; }
      #dailyPoints .participant .first-row .right-column #add-points-button {
        font-size: 50px;
        line-height: 56px;
        text-align: center;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        background-color: #f2cd46;
        border: none;
        color: white;
        padding: 0;
        margin: 0;
        cursor: pointer; }
    #dailyPoints .participant .first-row .realname {
      font-size: 14px;
      font-style: italic;
      line-height: 1.43;
      color: #a0a3a8;
      text-transform: uppercase;
      margin-bottom: 16px; }
    #dailyPoints .participant .first-row .nickname {
      font-size: 20px;
      line-height: 1.8;
      color: #353738; }
    #dailyPoints .participant .first-row .total-points {
      font-size: 32px;
      font-weight: 300;
      line-height: 1.38;
      color: #6B6D70; }

#dailyPoints .points-entries-summaries {
  margin-top: -4px; }
  #dailyPoints .points-entries-summaries .points-entry-summary {
    color: #353738;
    font-weight: 300; }
    #dailyPoints .points-entries-summaries .points-entry-summary .calculated-points-label {
      font-weight: 600;
      display: inline-block;
      padding-right: 5px; }
    #dailyPoints .points-entries-summaries .points-entry-summary:not(:last-child) {
      margin-bottom: 6px; }
    #dailyPoints .points-entries-summaries .points-entry-summary:last-child {
      margin-bottom: 16px; }
  #dailyPoints .points-entries-summaries #edit-points {
    text-align: center;
    margin: 12px auto 16px auto;
    font-style: italic;
    font-weight: 600; }

.switch-weeks {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 32px; }

.change-week {
  font-weight: 100;
  font-size: 14px;
  font-style: italic;
  line-height: 1.43;
  text-align: left;
  color: #a0a3a8;
  cursor: pointer; }

#heading {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #a0a3a8;
  margin-bottom: 4px; }

form label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #6B6D70;
  text-transform: uppercase;
  margin-bottom: 8px; }

form .fieldset {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end; }
  form .fieldset label {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #6b6d70; }
  form .fieldset input {
    width: 72px;
    margin-right: 12px; }

form input, form select {
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  border: solid 1px #a0a3a8;
  margin-bottom: 16px;
  font-size: 16px;
  padding: 0 16px;
  text-transform: none; }

form input::placeholder {
  font-style: italic;
  color: #a0a3a8; }

.grey-button {
  height: 56px;
  width: 200px;
  text-align: center;
  background-color: #b1b4ba;
  color: white;
  text-transform: uppercase;
  margin: 48px auto;
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  letter-spacing: 1.2px; }
  .grey-button:active {
    box-shadow: inset 0 1px 8px 0 rgba(0, 0, 0, 0.2); }
  .grey-button:hover {
    opacity: 0.7; }
  .grey-button.add-challenge {
    margin: 0 auto 24px auto; }

#subHeading {
  font-size: 20px;
  text-transform: uppercase; }

hr {
  margin: 16px 0;
  border: solid 1px #dadde0; }

#summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px; }
  #summary div {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.44; }

#competitorSummary {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #a0a3a8;
  margin-bottom: 16px; }
  #competitorSummary #versingFamily {
    color: #6456f8; }

#weeklyStatus {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #353738; }
  #weeklyStatus div {
    margin-bottom: 12px; }
    #weeklyStatus div:last-child {
      margin-bottom: 0; }
  #weeklyStatus span {
    margin-left: 16px;
    font-weight: 700;
    color: #353738;
    text-transform: uppercase; }

.border {
  height: 1px;
  background: #dadde0;
  margin-bottom: 16px; }

#add-points-container {
  display: none;
  padding: 10px 15px;
  position: absolute;
  background: rgba(1, 1, 1, 0.7);
  top: 0;
  width: 400px;
  height: 100%;
  z-index: 5;
  background: white; }

.twitter-typeahead {
  display: block; }

#typeahead {
  background-image: url("/images/magnifying_glass.svg");
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-indent: 40px; }
  #typeahead:focus {
    border: none;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3); }

.tt-hint {
  text-indent: 40px; }

.tt-menu {
  margin-top: -2px;
  font-size: 16px;
  background: white;
  padding: 20px;
  width: 100%;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3); }
  .tt-menu .tt-suggestion {
    padding: 15px; }
    .tt-menu .tt-suggestion:hover {
      background-color: rgba(1, 1, 1, 0.3); }

.down-arrow {
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle; }

.center {
  text-align: center; }

.subtitle.toggle-past-challenges, .subtitle.toggle-future-challenges {
  cursor: pointer; }

.past-challenges, .future-challenges {
  display: none; }

.challenge {
  font-size: 14px;
  margin-bottom: 16px;
  color: #353738;
  padding-bottom: 20px;
  border-bottom: 1px solid #353738; }
  .challenge:only-child {
    border-bottom: none; }
  .challenge .participation-status {
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    padding: 6px; }
    .challenge .participation-status.green {
      background-color: #0b8c0b; }
    .challenge .participation-status.grey {
      background-color: #a0a3a8; }

.points-entry {
  padding: 16px;
  border-radius: 5px;
  background-color: #f0f4f8;
  position: relative;
  margin-bottom: 16px; }
  .points-entry .trash {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px; }
  .points-entry .activity-name {
    margin-bottom: 12px; }
  .points-entry .entry-points-calculation {
    font-weight: bold;
    line-height: 1.5;
    text-align: right;
    color: #353738; }

.activity {
  margin-bottom: 16px; }
  .activity .activity-name {
    font-size: 16px;
    line-height: 1.5;
    color: #353738;
    margin-bottom: 4px; }
  .activity .activity-description {
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
    color: #a0a3a8; }

.rules {
  font-size: 16px;
  color: #353738;
  line-height: 1.5; }

.hamburger-button {
  cursor: pointer; }
  .hamburger-button .x-line {
    display: none; }
  .hamburger-button .line, .hamburger-button .x-line {
    position: relative;
    height: 4px;
    background: #a0a3a8;
    width: 28px; }
  .hamburger-button .x-line:nth-child(4) {
    top: 4px;
    transform: rotate(-45deg); }
  .hamburger-button .x-line:nth-child(5) {
    background-color: transparent; }
  .hamburger-button .x-line:nth-child(6) {
    top: -4px;
    transform: rotate(45deg); }
  .hamburger-button.animate-x .line:first-child {
    animation-name: movedown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  .hamburger-button.animate-x .line:nth-child(2) {
    animation-name: middlerotate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  .hamburger-button.animate-x .line:nth-child(3) {
    animation-name: moveup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  .hamburger-button.animate-x-reverse .line:first-child {
    animation-name: movedown-reverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  .hamburger-button.animate-x-reverse .line:nth-child(2) {
    animation-name: middlerotate-reverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  .hamburger-button.animate-x-reverse .line:nth-child(3) {
    animation-name: moveup-reverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  .hamburger-button .line:not(:first-child) {
    margin-top: 5px; }

@keyframes movedown {
  0% {
    top: 0; }
  50% {
    top: 9px; }
  51% {
    transform: rotate(45deg); }
  100% {
    top: 9px;
    transform: rotate(-45deg); } }

@keyframes moveup {
  0% {
    top: 0px; }
  50% {
    top: -9px; }
  51% {
    transform: rotate(45deg); }
  100% {
    top: -9px;
    transform: rotate(45deg); } }

@keyframes movedown-reverse {
  100% {
    top: 0; }
  51% {
    top: 9px; }
  50% {
    transform: rotate(45deg); }
  0% {
    top: 9px;
    transform: rotate(-45deg); } }

@keyframes moveup-reverse {
  0% {
    top: -9px;
    transform: rotate(45deg); }
  50% {
    top: -9px;
    transform: rotate(45deg); }
  51% {
    top: -9px; }
  100% {
    top: 0px; } }

@keyframes middlerotate {
  0% {
    top: 0; }
  50% {
    top: 0; }
  51% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes middlerotate-reverse {
  0% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(45deg); }
  51% {
    top: 0; }
  100% {
    top: 0; } }

@keyframes move-nav-down {
  0% {
    opacity: 0;
    top: -400px; }
  100% {
    opacity: 1;
    top: 63px; } }

@keyframes move-nav-up {
  0% {
    opacity: 1;
    top: 63px; }
  100% {
    opacity: 0;
    top: -400px;
    position: absolute; } }

.calculated-points, .total-calculated-points {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: right;
  color: #353738;
  margin-bottom: 16px; }

.total-calculated-points {
  display: none; }

#submit-points-button {
  display: none; }

.error-field input, .error-field select {
  border-color: #d92b3a; }

.error-field .error {
  color: #d92b3a;
  background: transparent;
  padding: 0; }

/*# sourceMappingURL=style.css.map */