@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
* {
  box-sizing: border-box;
  outline: none; }

[class*="col-"] {
  float: left;
  padding: 0 15px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: blue; }
  a:visited {
    color: blue; }
  a:hover {
    color: red; }

body {
  margin: auto;
  font: 14px "Open Sans", sans-serif;
  max-width: 400px;
  position: relative; }

input, select {
  display: block; }

nav {
  margin: 10px auto 20px auto; }
  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav.mobile #hamburger {
      font-size: 36px;
      color: #6B6D70; }
    nav.mobile .logo {
      margin-bottom: 0; }

.title {
  font-size: 36px;
  color: #6B6D70;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 0; }

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #a0a3a8;
  margin-bottom: 33px; }

.message {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #353738; }

#backgroundGradient {
  padding: 32px 15px; }
  #backgroundGradient #scoreboard {
    padding: 15px 0;
    background: white;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3); }
  #backgroundGradient hr {
    border-color: #dadde0;
    padding: 0;
    margin: 0; }

#calendarHead {
  padding-bottom: 28px; }

#calendar {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #a0a3a8; }
  #calendar #weekdays {
    display: flex;
    justify-content: space-between; }
    #calendar #weekdays .weekday {
      position: relative; }
      #calendar #weekdays .weekday .day {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.54; }
      #calendar #weekdays .weekday .date {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        position: relative; }

.updatePoints {
  cursor: pointer; }

#dailyPoints .participant {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dadde0;
  padding-bottom: 16px;
  align-items: center;
  margin-bottom: 16px; }
  #dailyPoints .participant:last-child {
    border: none;
    margin: 0;
    padding-bottom: 0; }
  #dailyPoints .participant .left-column {
    text-align: left; }
  #dailyPoints .participant .right-column {
    text-align: right; }
    #dailyPoints .participant .right-column #addPoints {
      font-size: 50px;
      line-height: 56px;
      text-align: center;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      background-color: #f2cd46;
      border: none;
      color: white;
      padding: 0;
      margin: 0;
      cursor: pointer; }
  #dailyPoints .participant .realname {
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
    color: #a0a3a8;
    text-transform: uppercase; }
  #dailyPoints .participant .nickname {
    font-size: 20px;
    line-height: 1.8;
    color: #353738; }
  #dailyPoints .participant .total-points {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.38;
    color: #6B6D70; }

.switch-weeks {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 32px; }

.change-week {
  font-weight: 100;
  font-size: 14px;
  font-style: italic;
  line-height: 1.43;
  text-align: left;
  color: #a0a3a8; }

.change-week:hover {
  text-decoration: underline; }

#heading {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #a0a3a8;
  margin-bottom: 4px; }

form label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #6B6D70;
  text-transform: uppercase;
  margin-bottom: 8px; }

form input, form select {
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  border: solid 1px #a0a3a8;
  margin-bottom: 16px;
  font-size: 16px;
  padding: 0 16px;
  text-transform: none; }

form input::placeholder {
  font-style: italic;
  color: #a0a3a8; }

form .grey-button {
  width: 200px;
  height: 56px;
  background-color: #b1b4ba;
  color: white;
  text-transform: uppercase;
  margin: 48px auto;
  font-size: 20px;
  font-weight: 700; }
  form .grey-button:active {
    box-shadow: inset 0 1px 8px 0 rgba(0, 0, 0, 0.2); }
  form .grey-button:hover {
    opacity: 0.7; }

#subHeading {
  font-size: 20px;
  text-transform: uppercase; }

hr {
  margin: 16px 0;
  border: solid 1px #dadde0; }

#summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px; }
  #summary div {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.44; }

#competitorSummary {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #a0a3a8;
  margin-bottom: 16px; }
  #competitorSummary #versingFamily {
    color: #6456f8; }

#weeklyStatus {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #353738; }
  #weeklyStatus div {
    margin-bottom: 12px; }
    #weeklyStatus div:last-child {
      margin-bottom: 0; }
  #weeklyStatus span {
    margin-left: 16px;
    font-weight: 700;
    color: #353738;
    text-transform: uppercase; }

#border {
  height: 1px;
  background: #dadde0;
  margin-bottom: 16px; }

#add-points-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background: white; }

/*# sourceMappingURL=style.css.map */