div#calendar-head
  div.col-2
    if true
      button#previous.change-week &larr;
  div#calendar.col-8
    div#weekdays
      div M
      div T
      div W
      div T
      div F
      div S
      div S
    div#dates
      include ./_calendar_dates
  div.col-2
    if true
      button#next.change-week &rarr;
div#points-body