div#weekNumber
  | WEEK 1 of the FITNESS CHALLENGE!! HORAY

div#calendarHead
  div.col-2
    if showPrevious
      button#previous.change-week &larr;
  div#calendar.col-8
    div#weekdays
      div M
      div T
      div W
      div T
      div F
      div S
      div S
    div#dates
      include ./_calendar_dates
  div.col-2
    if showNext
      button#next.change-week &rarr;
div#points-body