div#calendarHead
  div#calendar
    div#weekdays
      div MON
      div TUE
      div WED
      div THU
      div.currentDate FRI
      div SAT
      div SUN
    div#dates
      include ./_calendar_dates
hr
div#points-body