include ../layout.pug

block content
	h2 Add a family

	form(action='/families' method='POST')
		| Name
		input(name='name' type='text' required)
		| Motto
		input(name='motto' type='text')

		input(type='submit' value='Add family')
