extends ../layout

append head-scripts
  include ../partials/jqueryui
  script(src="/libs/typeahead.bundle.min.js")

block content
  div#showBody
    include ./_show_body

block footer-scripts
  script.
    function updatePoints(e) {
      $.ajax({
        url: window.location.pathname + "/points",
        data: "date=" + $(this).data('date')
      })
      .done(res => $("#dailyPoints").replaceWith(res))
      .fail(() => console.log("updatePoints failed"));
    }

    function updateShow(e) {
      const data = {
        direction: $(this).attr('id'),
        sunday: $('#sunday').data('date'),
        monday: $('#monday').data('date')
      }

      $.ajax({url: window.location.pathname, data})
      .done(res => $("#showBody").html(res))
      .fail(() => console.log("Getting Calendar Head failed"));
    }

    function deletePoint(e) {
      e.preventDefault();
      var point = $(this).parent().parent();

      var request = $.ajax({
        type: 'POST',
        url: '/points?_method=DELETE',
        data: { point: point.data('point') }
      });

      request.done(res => {
        point.remove();
      });

      request.fail(res => console.log(res));
    }

    function addPoints(e) {
      var date = $(this).data('date');

      var request = $.ajax({
        type: 'GET',
        data: {date},
        url: '/points/new'
      })

      request.done(res => {
        $('#pointsBody').replaceWith(res);
        getActivities();
        $('#typeahead').bind('typeahead:select', getActivityData);
      });

      request.fail(e => console.log(e))
    }

    var typeaheadElements;
    var partial = false;

    function getActivities() {
      $.ajax({
        url: "/activities"
      })
      .done(function(res) {
        var activitiesFn = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: res
        });

        $('#typeahead').typeahead({
          minLength: 1,
          highlight: true
        },
        {
          name: 'my-dataset',
          source: activitiesFn
        });
      });
    }

    function getActivityData(ev, suggestion) {
      var request = $.ajax({
        url: '/activities/' + suggestion,
        data: partial == true ? "partial=true" : "partial=false"
      });

      request.done(res => {
        typeaheadElements = $('#typeahead').parent().parent();
        $('#typeahead').typeahead('val', '');
        typeaheadElements.hide();

        if (!partial) {
          $("#add-points").prepend(res);
        } else {
          $("#activity-list").append(res);
          $("#add-activity").show();
        }

      });

      request.fail(res => {
        console.log("FAIL", res)
      });
    }

    function addMoreActivities(e) {
      $('#activity-list').after(typeaheadElements);
      typeaheadElements.show();
      $("#add-activity").hide();
      partial = true;
    }

    function sumArray(total, num) {
      return total + num;
    }

    function calculatePoints(e) {
      var activity = $(this).parent();

      var activityPoints = activity.find('.activity-points').text();
      var activityPointsScale = activity.find('.activity-points-scale').text();

      var numOfUnits = $(this).val();

      if (numOfUnits == "") {
        activity.find('.calculatedPoints').val(0);
      } else {
        var calculation = (parseInt(activityPoints) / parseInt(activityPointsScale)) * parseInt(numOfUnits);
        activity.find('.calculatedPoints').val(calculation);
      }

      var totalPoints = $(".calculatedPoints").map(function() {
        return $(this).val() == "" ? 0 : parseInt($(this).val());
      }).get();

      totalPoints = totalPoints.reduce(sumArray);

      $("#totalPointsDisplay").text(totalPoints);
      $("#totalPoints").val(totalPoints);
    }

    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor((t/1000) % 60);
      var minutes = Math.floor((t/1000/60) % 60);
      var hours = Math.floor((t/(1000*60*60)) % 24);
      var days = Math.floor(t/(1000*60*60*24));
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }

    function initializeClock(id, endtime){
    var clock = document.getElementById(id);
    var timeinterval = setInterval(()=>{
    var t = getTimeRemaining(endtime);
    clock.innerHTML = t.days + ' days' + ' ' +
                      t.hours + ' hours' + ' ' +
                      t.minutes + ' minutes' + ' ' +
                      t.seconds + ' seconds' + ' left in Week 4';
      if (t.total<=0){
        clearInterval(timeinterval);
        }
      }, 1000);
    }

    var endtime = new Date($('#sunday').data('date'));
    endtime.setDate(endtime.getDate()+1);

    $(document).ready(function(){
      initializeClock('time', endtime);
    });

    $('body').on('click', '.change-week', updateShow);
    $('body').on('click', '#dates div', updatePoints);
    $('body').on('click', '.delete-point', deletePoint);
    $('body').on('click', '#addPoints', addPoints);
    $('body').on('keyup', '.num-of-units', calculatePoints);
    $('body').on('click', '#add-activity button', addMoreActivities);
