extends ../layout

append head-scripts
  include ../partials/jqueryui
  script(src="/libs/typeahead.bundle.min.js")

block content
  div#showBody
    include ./_show_body

append footer-scripts
  script.
    function updatePoints(e) {
      $.ajax({
        url: window.location.pathname + "/points",
        data: {weekInfo: {date: $(e.currentTarget).find(".date").data("date"), monday: $("#monday").data("date"), direction: "none"}}
      })
      .done(res => $("#scoreboard").replaceWith(res))
      .fail(e => console.log("updatePoints failed"));
    }

    function updateShow(e) {
      const weekInfo = {
        direction: $(this).attr('id'),
        sunday: $('#sunday').data('date'),
        monday: $('#monday').data('date')
      }

      $.ajax({
        url: window.location.pathname,
        data: {weekInfo}
      })
      .done(res => $("#showBody").html(res))
      .fail(() => console.log("Getting Calendar Head failed"));
    }

    function deletePoint(e) {
      e.preventDefault();
      var point = $(this).parent().parent();

      var request = $.ajax({
        type: 'POST',
        url: '/points?_method=DELETE',
        data: { point: point.data('point') }
      });

      request.done(res => {
        point.remove();
      });

      request.fail(res => console.log(res));
    }

    function removePointEntry(e) {
      $(e.target).parent().remove();
    }

    function showAddPointsModal() {
      $("#add-points-container").toggle()
      getActivities();
      $('#typeahead').bind('typeahead:select', getActivityData);
    }

    function hideAddPointsModal() {
      $("#add-points-container").toggle()
    }

    function getActivities() {
      $.ajax({
        url: "/activities"
      })
      .done(function(res) {
        var activitiesFn = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: res
        });

        $('#typeahead').typeahead({
          minLength: 1,
          highlight: true
        },
        {
          name: 'my-dataset',
          source: activitiesFn
        });
        $(".twitter-typeahead").css("display", "block");
      });
    }

    /* gets information about an selected activity  */
    function getActivityData(ev, suggestion) {
      var request = $.ajax({
        url: `/activities/${suggestion}`
      });

      request.done(res => {
        $('#typeahead').typeahead('val', '');
        $(".point-entries").append(res);
      });

      request.fail(res => {
        console.log("FAIL in get activity data", res)
      });
    }



    function calculatePoints(e) {
      var pointsEntry = $(this).parent().parent();

      var activityPoints = pointsEntry.find('.activity-points').text();
      var activityPointsScale = pointsEntry.find('.activity-points-scale').text();

      var numOfUnits = $(this).val();

      if (numOfUnits == "") {
        pointsEntry.find('input.calculated-points').val(0);
        pointsEntry.find('div.calculated-points').text("0 POINTS")
      } else {
        var calculation = ((parseFloat(activityPoints) / parseFloat(activityPointsScale)) * parseFloat(numOfUnits)).toFixed(2);
        pointsEntry.find('input.calculated-points').val(calculation);
        pointsEntry.find('div.calculated-points').text(calculation + " POINTS");
      }


      const totalPoints = $.makeArray($("input.calculated-points")).reduce((total, pointsEntryValue) => total + $(pointsEntryValue).val() === "" ? 0 : parseFloat($(pointsEntryValue).val()), 0).toFixed(2);

      $("div.total-points").text("TOTAL = " + totalPoints + " POINTS");
      $("input.total-points").val(totalPoints);
    }

    function getTimeRemaining(endOfWeek) {
      const total = Date.parse(endOfWeek) - Date.parse(new Date()),
      days = Math.floor(total/(1000*60*60*24)),
      hours = Math.floor((total/(1000*60*60)) % 24),
      minutes = Math.floor((total/1000/60) % 60);
      document.getElementById('timeRemaining').innerHTML = `${days} DAYS, ${hours} HOURS, ${minutes} MINUTES`;
    }

    function initializeClock() {
      const endtime = new Date($('#sunday').data('date'));
      endtime.setDate(endtime.getDate()+1);

      var clock = document.getElementById('timeRemaining');
      var timeinterval = setInterval(() => getTimeRemaining(endtime), 1000);
    }

    $(document).ready(function(){
      initializeClock();
    });

    $('body').on('click', '.change-week', updateShow);
    $('body').on('click', '.updatePoints', updatePoints);
    $('body').on('click', '.delete-point', deletePoint);
    $('body').on('click', '#add-points-button', showAddPointsModal);
    $('body').on('click', '#x-button', hideAddPointsModal);
    $('body').on('keyup', '.num-of-units', calculatePoints);
    $('body').on('click', ".trash", removePointEntry)