extends ../layout

append head-scripts
  include ../partials/jqueryui
  script(src="/libs/typeahead.bundle.min.js")

block content
  div#showBody
    include ./_show_body

append footer-scripts
  script.
    function updatePoints(e) {
      $.ajax({
        url: window.location.pathname + "/points",
        data: "date=" + $(e.currentTarget).find(".date").data("date")
      })
      .done(res => $("#calendarHead").replaceWith(res))
      .fail(e => console.log("updatePoints failed"));
    }

    function updateShow(e) {
      const data = {
        direction: $(this).attr('id'),
        sunday: $('#sunday').data('date'),
        monday: $('#monday').data('date')
      }

      $.ajax({url: window.location.pathname, data})
      .done(res => $("#showBody").html(res))
      .fail(() => console.log("Getting Calendar Head failed"));
    }

    function deletePoint(e) {
      e.preventDefault();
      var point = $(this).parent().parent();

      var request = $.ajax({
        type: 'POST',
        url: '/points?_method=DELETE',
        data: { point: point.data('point') }
      });

      request.done(res => {
        point.remove();
      });

      request.fail(res => console.log(res));
    }

    function showAddPointsModal() {

      $("#add-points-container").css("display", "flex")
      getActivities();
      $('#typeahead').bind('typeahead:select', getActivityData);
    }

    function hideAddPointsModal() {
      $("#add-points-container").css("display", "none")
    }

    var typeaheadElements;
    var partial = false;

    function getActivities() {
      $.ajax({
        url: "/activities"
      })
      .done(function(res) {
        var activitiesFn = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: res
        });

        $('#typeahead').typeahead({
          minLength: 1,
          highlight: true
        },
        {
          name: 'my-dataset',
          source: activitiesFn
        });
        $(".twitter-typeahead").css("display", "block");
      });
    }

    function getActivityData(ev, suggestion) {
      var request = $.ajax({
        url: '/activities/' + suggestion,
        data: partial == true ? "partial=true" : "partial=false"
      });

      request.done(res => {
        typeaheadElements = $('#typeahead').parent().parent();
        $('#typeahead').typeahead('val', '');
        typeaheadElements.hide();

        if (!partial) {
          $("#add-points").prepend(res);
        } else {
          $("#activity-list").append(res);
          $("#add-activity").show();
        }

      });

      request.fail(res => {
        console.log("FAIL in get activity data", res)
      });
    }

    function addMoreActivities(e) {
      $('#activity-list').after(typeaheadElements);
      typeaheadElements.show();
      $("#add-activity").hide();
      partial = true;
    }

    function sumArray(total, num) {
      return total + num;
    }

    function calculatePoints(e) {
      var activity = $(this).parent();

      var activityPoints = activity.find('.activity-points').text();
      var activityPointsScale = activity.find('.activity-points-scale').text();

      var numOfUnits = $(this).val();

      if (numOfUnits == "") {
        activity.find('.calculatedPoints').val(0);
      } else {
        var calculation = (parseInt(activityPoints) / parseInt(activityPointsScale)) * parseInt(numOfUnits);
        activity.find('.calculatedPoints').val(calculation);
      }

      var totalPoints = $(".calculatedPoints").map(function() {
        return $(this).val() == "" ? 0 : parseInt($(this).val());
      }).get();

      totalPoints = totalPoints.reduce(sumArray);

      $("#totalPointsDisplay").text(totalPoints);
      $("#totalPoints").val(totalPoints);
    }

    function getTimeRemaining(endOfWeek) {
      const total = Date.parse(endOfWeek) - Date.parse(new Date()),
      days = Math.floor(total/(1000*60*60*24)),
      hours = Math.floor((total/(1000*60*60)) % 24),
      minutes = Math.floor((total/1000/60) % 60);
      document.getElementById('timeRemaining').innerHTML = `${days} DAYS, ${hours} HOURS, ${minutes} MINUTES`;
    }

    function initializeClock() {
      const endtime = new Date($('#sunday').data('date'));
      endtime.setDate(endtime.getDate()+1);

      var clock = document.getElementById('timeRemaining');
      var timeinterval = setInterval(() => getTimeRemaining(endtime), 1000);
    }

    $(document).ready(function(){
      initializeClock();
    });

    $('body').on('click', '.change-week', updateShow);
    $('body').on('click', '.updatePoints', updatePoints);
    $('body').on('click', '.delete-point', deletePoint);
    $('body').on('click', '#add-points-button', showAddPointsModal);
    $('body').on('click', '#x-button', hideAddPointsModal);

    $('body').on('keyup', '.num-of-units', calculatePoints);
    $('body').on('click', '#add-activity button', addMoreActivities);
