extends ../layout

append head-scripts
  script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous")
  link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css")

block content
  .col-12
    .title Edit Challenge

    if errors
      .error Challenge could not be created. Please correct the error(s) below.

    form(action=`/challenges/${challenge._id}?_method=PUT` method='POST')
      include _form

    script
      include _datepicker.js 