include ../layout.pug

h1 Create a challenge 

form(action='/challenges' method='POST')
	| Name
	input(name='name' type='text' required)
	| Start Date
	input(name='date.start' type='Date' required)
	| End Date
	input(name='date.end' type='Date' required)
	input(type='submit' value='Create challenge')

h2 All Challenges

each challenge in challenges
	p= "Name: " + challenge.name
	p= "Start Date: " + challenge.date.start
	p= "End Date: " + challenge.date.end
		if challenge.winner != null
			p= "Winner: " + challenge.winner