extends ../layout

append head-scripts
  include ../partials/jqueryui

block content

  h1 Create a challenge

  form(action='/challenges' method='POST')
    | Name
    input(name='name' type='text' required)
    | Start Date
    input.start(name='date.start' type='text' required)
    | End Date
    input.end(name='date.end' type='text' readonly)

    input(type='submit' value='Create challenge')

  p #[b Please note:] Challenges must Registration will open as soon as challenge is created, and registration will close at midnight before the challenge.

  script.
    $('.start').datepicker()
    .on("change", function() {
      var date = $(this).datepicker("getDate");
      date.setDate(date.getDate() + 63);
      $('.end').val(`${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}`);
    });
