extends ../layout

block content
  .col-12

    if error
      p= error

    .title Login
    form(action='/login' method='POST')
      label Email
      input(name='email' type='email' required)
      label Password
      input(name='password' type='password' required)
      input.grey-button(type='submit' value='Sign In')

    .message Don't have an account? #[a(href="/register") Register]