h1 Rules of the LPN Fitness Challenge

h2 Format 

	p= '- Each week, your family will be put up against another family in a head-to-head showdown for highest weekly total (view Schedule)'
	p= '- If your family has a higher weekly average score than your opponent, you will be awarded a WIN'
	p= '- In the 8th week of the challenge, the top 4 families will advance to the playoffs (view Playoffs)'
	p= '- The one team who wins all of their Playoff matches will be crowned the victor'

	

