extends ../layout

block content
	.col-12.rules
		.title Rules

		.subtitle Format
		ul
			li Each week, your family will be put up against another family in a head-to-head showdown for highest weekly total (view Schedule)
			li If your family has a higher weekly average score than your opponent, you will be awarded a WIN
			li In the 8th week of the challenge, the top 4 families will advance to the playoffs (view Playoffs)
			li The one team who wins all of their Playoff matches will be crowned the victor

		.subtitle Add/Drop Deadlines
		ol
			li Go to your Family Tab and type in your name in the 'Participant' column - don't sign up if you can't commit!
			li Record your daily score and create a note (right click > insert note) detailing what was done (no notes, no points)
			li You MUST record your scores for the current week by the following Monday at 12pm noon
			li Check back into the Schedule and family tabs to monitor your scores throughout the week
			li Win


		.subtitle Notes
		ul
			li Your weekly team average score is your families weekly points divided by the number of participants from your family
			li 'Standings' is where you can find out where you family stands against the competition
			li There will be a update via email every other week detailing team progress and updates
			li Concerns about the point system are requested, but any minor changes will only be incorporated the following quarter

		.title Questions
		| Email LeAnne at leanne.lnd@gmail.com, Resanna at resannali@gmail.com, or Stephen at stephen.lee.abc@gmail.com





