extends ../layout

block content
  .col-12
    if message
      p.info= message
    else
      .title Uh Oh..
      .info You must be logged in to view this page! #[a(href="/") Login]
      .center
        p Not a current user? #[a(href="/") Sign up!]

