include ../layout.pug

block content
  .col-12
    .title Fitness Challenge Stats

    each user in users
      h2 #{user.$locals.overallIndividualRank} | #{user.fullName} - #{user.lifeTimePoints} | #[a(href=`/users/${user._id}`) View Stats]