include ../layout.pug

block content
	.col-12
		include ../account/_account_nav

		.title My Profile

		include ./_edit_form

append footer-scripts
	script.
		$("body").on("submit", "#editProfile", function(e) {
			e.preventDefault();
			var form = $(this);
			$.ajax({
				url: "/users/edit?_method=PUT",
				data: form.serialize(),
				type: "POST"
			}).done(function(res) {
				$("#editProfile").replaceWith(res);
				$('#message').fadeOut({
					duration:2000,
					complete: function() {
						this.remove();
					}
				});
			}).fail(function(res) {
				console.log("Failed XHR buddy :(", res);
			})
		});